body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
h3{
    color: orange;
}
.oranged{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 2%;

}
.half-width img{
    width: 80%;
}
.btn{
    background-image: linear-gradient(orange,tomato);
    
    color: white;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 7px;
    font-weight: bold;
}
.top-banner{
background-image: url(images/top-banner.png);
background-repeat: no-repeat;
}

.half-width{
    width: 50%;
    padding-left: 2%;

}
.half-width img{
    width: 80%;
}
.btn1{
    text-decoration: none;
    background-image: linear-gradient(rgb(233, 159, 21), tomato);
    padding: 10px;
    color: white;
    border-radius: 7px;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.half-width1{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 40px;
    box-shadow: 10px 10px 45px grey;
    border-radius: 10px;
}
.experiences{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
#web-ex{
    border-left: 6px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}

#web-ex1{
    border-left: 6px solid;
    border-image: linear-gradient(red,brown);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 0.8rem;
    color: gray;
}